.name {
	color: #f50057;
	display: flex;
	justify-content: center;
	align-items: center;
}
.title {
	color: #f50057;
	display: flex;
	justify-content: center;
	align-items: center;
}
.link {
	margin: 5px 0 0 0;
	display: block;
	text-decoration: none;
	color: #2F4F4F;
}
.img {
	width: 300px;
}